################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MobileShopping/FileContentIndex/6926a1b6-eb69-4437-a0c1-5b05831d8347.vsidx
/.vs/MobileShopping/FileContentIndex
